<!DOCTYPE html>
%html{ :lang => 'en' }
  %head
    %title Embassy Place
    %meta{ :charset => 'utf-8' }

    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    - flash.each do |type, message|
      %div{ class: type }= message

    %nav
      = link_to "Gallery", gallery_path, { id: "nav-gallery" }
      = link_to "Features", features_path, { id: "nav-features" }
      = link_to "Blog", posts_path, { id: "nav-posts" }
      = link_to "Contact", contact_path, { id: "nav-contact" }
      = link_to "#home", root_path, { id: "nav-homepage" }

    = yield

  %footer
    %p
      © Copyright #{Time.now.year}, All Rights Reserved, Embassy Place
      %br
      = link_to "Get the Brochure", image_path('#'), { id: "brochure-pdf" }
